# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# MySQL
*.mysql
*.mysql-journal
*.pid
*.err

# TinyMCE específicamente
/staticfiles/django_tinymce/
/staticfiles/tinymce/

# Mantener archivos de admin
!/staticfiles/admin/
!/staticfiles/admin/css/
!/staticfiles/admin/js/
!/staticfiles/admin/img/

# Entorno virtual
venv/

# Entorno
.env

# Sistema
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo