# Python
__pycache__/
*.py[cod]
*.pyc.class
*.pid
*.err

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# MySQL
*.mysql
*.mysql-journal

# Archivos estáticos generados
/staticfiles/

# Entorno virtual
venv/
.env

# Sistema
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Tailwind y archivos generados
node_modules/
**/css/dist/
/theme/static/
theme/

# Pero mantener estos archivos de configuración
!theme/static_src/tailwind.config.js
!theme/static_src/src/styles.css

# Django Browser Reload
**/django-browser-reload/tech_blog/settings.py
