# Python
__pycache__/
*.py[cod]
*.pyc.class
*.pid
*.err

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# MySQL
*.mysql
*.mysql-journal

# TinyMCE específicamente
/staticfiles/django_tinymce/
/staticfiles/tinymce/

# Mantener archivos de admin
!/staticfiles/admin/
!/staticfiles/admin/css/
!/staticfiles/admin/js/
!/staticfiles/admin/img/

# Entorno virtual
venv/
.env

# Sistema
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Tailwind y archivos generados
node_modules/
/staticfiles/css/dist/
**/css/dist/
/theme/static/

# Django Browser Reload
**/django-browser-reload/